<header class="header-back">
   <div class="title-name">
   <%= link_to "ScheduleBlog" ,"/",class:"title_name2" %>
   </div>
  
  
   <ul class='lists-right'>
      <% if user_signed_in? %>
       <li class="login"><%=  "ーようこそ、#{current_user.name}さんー" %></li>
       <li class="login"><%= link_to '・ログアウト', destroy_user_session_path, method: :delete, class: "login" %></li>
      <% else %>
       <li class="login"><%= link_to '・ログイン', new_user_session_path,method: :get, class: "login" %></li>
       <li class="login"><%= link_to '・新規登録', new_user_registration_path,method: :get, class: "login" %></li>
      <% end %>
   </ul>
</header>