<%= render "header" %>

<p id="notice"><%= notice %></p>

 <div class="show">
  <p class="show_tit">
   <strong>タイトル：</strong>
   <%= @tweet.title %>
  </p>

   <p class="show_time">
    <strong>日時</strong>
    <%= @tweet.start_time.strftime("%Y-%m-%d %H:%M") %>
   </p>
   
    <p class="comment">
    <strong >コメント</strong>
    </p>
    <p class="show_come">
    <%= @tweet.content %>
    </p>


   <% unless @tweet.nil?  ==  @tweet.image.attached?%>
   <p>
   <%= image_tag @tweet.image ,class:"item-box-img" %>
   </p>
   <% end %>

   <div class="abc">
   <%= link_to '編集',edit_tweet_path(@tweet) %> ・
   <%= link_to '削除',tweet_path ,method: :delete %>
   </div>
 </div>

 